<div class="example-sidenav-content">
    <mat-card class="container mt-4 mb-4 bg-light bg-gradient text-dark">
      <div class="d-flex justify-content-center pb-3 fs-3 fw-bold">
          Semana
      </div>
      <div class="row g-3 justify-content-center">
        <div class="col-3 mt-4">
                     
          <mat-card>
            <div matRipple id="coso" class="hover-card">
              <mat-icon class="hover-card-icon">pan_tool_alt</mat-icon>
            </div>  
            <div class="row text-center">
              <div class="col-12">
                <mat-icon class="p-2 w-100">hourglass_bottom</mat-icon>
              </div>
              <div class="col-12 fs-5 fw-bold p-2">
                Ayer
              </div>
              <div class="col-12 p-1">
                Actividad
              </div>
              <div class="col-12 pb-2">
                Hora
              </div>
            </div>
              
              <mat-card-content>
                <p style="overflow: hidden; text-overflow: ellipsis;">
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>

        </div>
        <div class="col-4">
              <mat-card style="background-color: #7b1fa2;">
                  <div class="row text-center">
                    <div class="col-12">
                      <mat-icon class="p-2" style="font-size: 36px; width: 100%;">bolt</mat-icon>
                    </div>
                    <div class="col-12 fs-4 fw-bold p-2">
                      Hoy
                    </div>
                    <div class="col-12 fs-6 p-1">
                      Actividad
                    </div>
                    <div class="col-12 fs-6 pb-2">
                      Hora
                    </div>
                    
                  </div>
                
                    <div class="row justify-content-center text-center">
                      <div class="col-12" style="overflow: hidden; text-overflow: ellipsis;">
                        Description <br>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                      </div>
                    </div>
                  <mat-card-actions class="d-flex justify-content-center mt-5">
                    <button mat-icon-button data-bs-toggle="tooltip" data-bs-placement="bottom" title="Actividad anterior" color="accent">
                      <mat-icon>navigate_before</mat-icon>
                    </button>
                    <button mat-icon-button data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver todo" color="accent">
                      <mat-icon>apps</mat-icon>
                    </button>
                    <button mat-icon-button data-bs-toggle="tooltip" data-bs-placement="bottom" title="Actividad siguiente" color="accent" >
                      <mat-icon>navigate_next</mat-icon>
                    </button>
                    
                  </mat-card-actions>
              </mat-card>

        </div>
        <div class="col-3 mt-4">                  
              <mat-card>
                <div matRipple id="coso" class="hover-card">
                  <mat-icon class="hover-card-icon">pan_tool_alt</mat-icon>
                </div> 
                <div class="row text-center">
                  <div class="col-12">
                    <mat-icon class="p-2 w-100">hourglass_top</mat-icon>
                  </div>
                  <div class="col-12 fs-5 fw-bold p-2">
                    Mañana
                  </div>
                  <div class="col-12 p-1">
                    Actividad
                  </div>
                  <div class="col-12 pb-2">
                    Hora
                  </div>
                </div>
                  
                  <mat-card-content>
                    <p style="overflow: hidden; text-overflow: ellipsis;">
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions>
                </mat-card>

          </div>
      </div>
  </mat-card>
  </div>