<div class="container text-center text-dark bg-light bg-gradient mt-4">
    <div class="calendar">
      <div class="row p-3 d-flex align-items-center justify-content-center">
        <div class="col fs-4"><</div>
        <div id="mes" class="col p-3 fs-2">Mes</div>
        <div class="col fs-4">></div>
      </div>
      <div class="row">
        <div id="dia" class="col pb-1">
          Fecha
        </div>
      </div>
      <div class="row row-cols-6">
        <div class="col">D</div>
        <div class="col">L</div>
        <div class="col">M</div>
        <div class="col">M</div>
        <div class="col">J</div>
        <div class="col">V</div>
        <div class="col">S</div>
        <div class="col">que onda</div>
      </div>
      <div id="diasMes" class="row row-cols-7">
        <div>a</div>
      </div>
</div>